.cart-item {
    background: #f2f1f1;
    border-radius: 5px;
    padding: 20px 15px;
    margin-top: 25px;
  }
  
  @media (min-width: 768px) {
    .cart-item {
      margin-top: 15px;
      display: flex;
      padding: 20px 20px;
    }
  }
  
  .cart-item_checkout {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .cart-item_checkout {
      margin: 20px 25px 0;
      background: #ffffff;
    }
  }
  
  .cart-item__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media (min-width: 768px) {
    .cart-item__details_order {
      align-items: flex-start;
      max-width: 350px;
    }
  }
  
  .cart-item__image {
    width: 71px;
    margin-right: 33px;
    flex: none;
  }
  
  .cart-item__image img {
    border-radius: 5px;
  }
  
  .cart-item__img {
    display: block;
    width: 71px;
    height: 71px;
    border-radius: 5px;
    background-size: cover;
    background-position: 50% 50%;
    margin-right: 33px;
  }
  
  @media (min-width: 768px) {
    .cart-item__img {
      margin-right: 20px;
    }
  }
  
  .cart-item__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    width: calc(100% - 104px);
  }
  
  .cart-item__options {
    margin-top: 15px;
  }
  
  @media (min-width: 768px) {
    .cart-item__options {
      width: 80%;
    }
  }
  
  .cart-options__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .cart-options__name_qty {
    margin-right: 5px;
  }
  
  .cart-options__select:not(.is-multiple) select {
    width: 82px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .cart-options__select:not(.is-multiple)::after {
    height: 28px;
  }
  
  .cart-item__functions {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .cart-item__functions {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  
  .cart-item__price {
    width: 100px;
    margin-right: 4px;
    flex: none;
    font-weight: bold;
    white-space: nowrap;
  }
  
  @media (min-width: 768px) {
    .cart-item__price {
      margin: 0;
      width: auto;
    }
  }
  
  .cart__button {
    margin: 0 auto;
    display: block;
    width: 180px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  @media (min-width: 768px) {
    .cart__button {
      margin: 0;
      margin-top: 20px;
    }
  }
  
  .cart__summary {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .cart__summary {
      margin-top: 30px;
    }
  }
  
  .summary {
    background: #fcdca7;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    display: table;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .summary {
      padding: 15px 32px;
    }
  
    .summary_order {
      border-radius: 5px;
    }
  }
  
  .summary__row {
    display: table-row;
  }
  
  .summary__col {
    display: table-cell;
    padding: 5px 0;
  }
  
  .summary__col_price {
    text-align: right;
  }
  